Mock_Project/Mock_Project/Service References/MarketDataService/MarketDataService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ExchangeSystem" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ExchangeSystem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfResponsePM">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResponsePM" nillable="true" type="tns:ResponsePM" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResponsePM" nillable="true" type="tns:ArrayOfResponsePM" />
  <xs:complexType name="ResponsePM">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="Symbol" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponsePM" nillable="true" type="tns:ResponsePM" />
</xs:schema>